.realisation-spec {
    display: flex;
    column-gap: 40px;
    max-width: 1100px;
    width: 100%;
    height: auto;
    background-color: var(--primary);
    padding: 35px 40px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.realisation-spec:not(:last-of-type) {
    margin-right: 40px;
}

@media (max-width: 1100px) {
    .realisation-spec:not(:last-of-type) {
        margin-bottom: 50px;
    }
}

@media(max-width: 950px) {
    .realisation-spec {
        flex-direction: column;
        /*max-width: 900px;*/
        margin: 0 auto;
    }
    .realisation-spec:not(:last-of-type) {
        margin: 0px auto 50px auto;
    }   
}

@media(max-width: 600px) {
    .realisation-spec {
        display: flex;
        background-color: transparent;
        padding: 0;
        border: none;
    }
    .realisation-spec:not(:last-of-type) {
        margin: 0px auto 100px auto;
    }    
}

.realisation-spec-img img {
    width: 325px;
    max-height: 500px;
    object-fit: cover;
    /*pointer-events: none !important;*/
}

@media(max-width: 950px) {
    .realisation-spec-img img {
        display: block;
        margin: 0 auto;
        max-width: 350px;
        max-height: 400px;
        width: 100%;
    }    
}

.realisation-spec-text > div:not(:last-of-type) {
    margin-bottom: 20px;
}

.realisation-spec-text h4 {
    margin-bottom: 25px;
    color: var(--secondary);
    display: flex;
}

.realisation-spec-text h4::before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--secondary);
    margin-right: 15px;
    margin-bottom: 2px;
}

.realisation-spec-text h5 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--tertiary);
}

.realisation-spec-text h5 .section-title {
    text-decoration: underline;
    color: var(--secondary);
}

.realisation-spec-text h5 .section-title-link {
    font-size: 14px;
}

.realisation-spec-text h5 .section-title-link a {
    text-decoration: underline;
    font-style: italic;
}

.realisation-spec-text p {
    color: var(--tertiary);
    line-height: 25px;
    font-size: 15px;
}

.realisation-spec-text p:not(:last-of-type) {
    margin-bottom: 20px;
}

.realisation-spec-text a {
    color: var(--tertiary);
}

.realisation-spec-links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    color: var(--tertiary);
}

.realisation-spec-links a {
    color: var(--very-tertiary);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

.realisation-spec-links-git  a:not(:last-of-type) {
    margin-right: 20px;
}

.realisation-spec-links-slash {
    margin: 0 30px;
}

@media(max-width: 375px) {
    .realisation-spec-links-slash {
        display: none;
    }    
    .realisation-spec-links {
        flex-direction: column;
        align-items: center;
    }
    .realisation-spec-links-git {
        margin-bottom: 10px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .realisation-spec-links a:hover {
        transition: 0.3s;
        color: var(--secondary);
    }
}

.realisation-spec-links a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -6px;
    height: 1px;
    width: 0px;
    opacity: 0;
    background-color: var(--secondary);
    transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
    .realisation-spec-links a:hover:after {
        width: 100%;
        opacity: 1;
    }
}

@media(max-width: 950px) {
    .realisation-spec-links {
        justify-content: center;
        margin: 30px 0px;
    }    
}