#wrapper-presentation-1980 {
    max-width: 1980px;
    width: 100%;
    height: 100vh;
    min-height: 937px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#realisation-presentation-loading {
    position: absolute;
    color: var(--very-tertiary);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 1200px) {
    #realisation-presentation-loading {
        top: 470px;
        transform: translateX(-50%);
    }      
}

#wrapper-presentation {
    display: grid;
    grid-template-areas: "img title"
                         "img text";
    column-gap: 80px;   
    max-width: 1440px;
    height: max-content;
    align-items: center;
    margin: 133px auto 0px auto;
    padding: 0 40px;
    transition: 0.6s;
}

#realisation-presentation-img {
    grid-area: img;
    position: relative;
    align-self: center;
    justify-self: center;
}

#realisation-presentation-img > img {
    max-width: 500px;
    max-height: 400px; 
    width: 100%;
    object-fit: cover;
} 

#realisation-presentation-text {
    grid-area: text;
}

#realisation-presentation-title {
    grid-area: title;
    margin-bottom: 50px;
}

#realisation-presentation-title h2 {
    font-size: 75px;
    color: var(--secondary);
}

#realisation-presentation-text span {
    display: flex;
    font-size: 15px;
    color: var(--secondary);
    margin-bottom: 35px;
    text-transform: uppercase;
}

#realisation-presentation-text p {
    color: var(--tertiary);
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 25px;
}

#realisation-presentation-text p:last-of-type {
    margin-bottom: 35px;
}

#realisation-presentation-text a {
    display: flex;
    width: max-content;
    color: var(--secondary);
    text-decoration: none;
    font-size: 15px;
}

#realisation-presentation-text a:not(:last-of-type) {
    margin-bottom: 20px;
}

#realisation-presentation-text a::before, #realisation-presentation-text span::before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--hyphen);
    margin-right: 15px;
    margin-bottom: 2px;
}

@media(max-width: 1600px) {
    #wrapper-presentation {
        max-width: 1240px;
        grid-template-areas: "title title"
                             "img text";
    }
    #realisation-presentation-title {
        text-align: center;
        margin-bottom: 50px;
    }
    #realisation-presentation-img {
        align-self: flex-start;
    }
}

@media(max-width: 1285px) {
    #wrapper-presentation {
        /*margin: 133px 40px 0 40px;*/
        /*padding: 0 40px;*/
    }    
}

@media(max-width: 1200px) {
    #wrapper-presentation {
        padding: 140px 40px 120px 40px;
        column-gap: 60px; 
    }
    #wrapper-presentation-1980 {
        height: initial;
    }
}

@media(max-width: 1100px) {
    #wrapper-presentation {
        grid-template-areas: "title"
                             "img"
                             "text";
    }
    #realisation-presentation-img {
        margin-bottom: 60px;
    }
}

@media(max-width: 600px) {
    #wrapper-presentation {
        padding-bottom: 80px;
        padding: 140px 25px 80px 25px;
    }
    #realisation-presentation-title h2 {
        font-size: 13vw;
    }
}