/*#hero {
    margin-top: -133px;
}*/

#wrapper-hero-1980 {
    max-width: 1980px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#wrapper-hero {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    min-height: 650px;
    /*min-height: calc(100vh - 137px);*/
    position: relative;
    overflow: hidden;
}

/*@media (max-height: 740px) {
    #wrapper-hero {
        height: 740px;
    }
}

@media (max-height: 650px) {
    #wrapper-hero {
        height: 700px;
    }
}*/

#hero-text {
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 0;
    transform: translateY(-55%);
    color: var(--very-tertiary);
    margin-left: 50px;
    margin-right: 20px;
}

@media (max-width: 1205px) {
    #hero-text {
        margin-left: 40px;
    }
}

#hero-text > span {
    display: flex;
    color: var(--secondary);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
}

#hero-text > span:before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: var(--secondary);
    margin-right: 15px;
    margin-bottom: 2px; 
}

#hero-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

#hero-text h1 span {
    color: var(--secondary);
}

#hero-text p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 70px;
}

#hero-img img {
    position: absolute;
    z-index: 0;
    right: -4%;
    width: 600px;
    top: 20%;
    filter:brightness(0.9);
    margin-right: 40px;
}

@media(max-width: 1300px) {
    #hero-img img {
        right: 0;
    }
}

@media(max-width: 1100px) {
    #hero-text {
        max-width: 500px;
    }
}

@media(max-width: 900px) {
    #hero-img img {
        right: -15%;
    }
}

@media(max-width: 750px) {
    #hero-img img {
        filter: brightness(0.4);
    }
}

@media(max-width: 580px) {
    #hero-img img {
        right: -30%;
    }
}

@media(max-width: 470px) {
    #hero-text h1 {
        font-size: 36px;
    }
    #hero-text p {
        font-size: 18px;
    }
    #hero-img img {
        right: -55%;
        filter: brightness(0.3);
    }
}

#scroll-down {
    position: absolute;
    right: 100px;
    bottom: 60px;
    color: var(--secondary);
    font-size: 10.5px;
    letter-spacing: 1.2px;
    font-weight: 600;
    writing-mode: vertical-lr;
}

#scroll-down svg {
    fill: var(--secondary);
    margin-left: 2px;
    margin-top: 12px;
}

@media(max-width: 1300px) {
    #scroll-down {
        right: 50px;
    }
}

@media(max-width: 900px) {
    #scroll-down {
        display: none;
    }   
}

/* switch mode btn */ 

.switch-mode {
    position: absolute;
    bottom: 123px;
    left: 125px;
}

@media(max-width: 1300px) {
    .switch-mode {
        left: 70px;
    }
}

.switch-mode .switch-mode-text {
    margin-bottom: 17px;
    padding-right: 5px;
    font-size: 10.5px;
    letter-spacing: 1.2px;
    font-weight: 600;
    color: var(--secondary);
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    transition: color ease 30s !important;  
}

.switch-mode label {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing:content-box;
	position:absolute;
	left:50%;
	top:50%;
	--c:translate(-50%,-50%);
	transform:var(--c);
    cursor: pointer;
}

.switch-mode .switch {
	position:relative;
	left:0;top:0;
	width:26px;
	height:26px;
}

@media(max-width: 900px) {
    .switch-mode .switch-mode-text {
        display: none;
    }
    .switch-mode {
        z-index: 100;
        top: 35px;
        bottom: initial;
        left: 35px;
    }
    .switch-mode .switch {
        position:relative;
        left:0;top:0;
        width:22px;
        height:22px;
    }
}

.switch-mode label > input {
	position:absolute;
	left:0;
	top:0;
	z-index:5;
	opacity:0;
}

.switch-mode .switch span {
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	transform:var(--c);
	border-radius:50%;
	width:70%;
	height:70%;
	background:var(--secondary);
	border:3px solid var(--primary);
    /*animation: 1.5s ease opacity;*/
	/*transition:all ease 0.3s;*/
}

.switch-mode .switch div {
	position:absolute;
	left:0;top:0;
	width:100%;
	height:100%;
}

.switch-mode .switch div::before, .switch-mode .switch div::after {
	content:" ";
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	transform:var(--c);
	background:var(--secondary);
	width:12%;
	height:130%;
	border-radius:10px;
    /*animation: 0.3s ease opacity;*/
	/*transition:all ease 0.3s;*/
}

.switch-mode .switch div:nth-child(1)::before {
	transform:var(--c) rotate(0deg);
}

.switch-mode .switch div:nth-child(1)::after {
	transform:var(--c) rotate(45deg); /*45deg increment each time*/
}

.switch-mode .switch div:nth-child(2)::before {
	transform:var(--c) rotate(90deg);
}

.switch-mode .switch div:nth-child(2)::after {
	transform:var(--c) rotate(135deg);
}

.switch-mode .switch::before, .switch::after {
	content:" ";
	position:absolute;
	left:50%;
	top:50%;
	transform:var(--c);
	border-radius:50%;
	background:var(--primary);
    /*animation: 0.3s ease opacity;*/
	/*transition:all ease 0.3s;*/
}

.switch-mode .switch::before {
	width:0%;
	height:0%;
	z-index:10;
}

.switch-mode .switch::after {
	width:50%;
	height:50%;
}

.switch-mode input:not(:checked) ~ .switch span {
    width:100%; /*width change*/
    height:100%; /*height change*/
    background: var(--secondary); /*color change*/
    /*we get a full moon*/
}

@media(max-width: 900px) {
    .switch-mode input:not(:checked) ~ .switch span {
        background: var(--btn-icon-mode);
    }
}

.switch-mode input:not(:checked) ~ .switch div::before,
.switch-mode input:not(:checked) ~ .switch div::after {
    height:50%; /*we hide the sun-rays*/
    animation: 0.75s ease lol2;
}

.switch-mode input:not(:checked) ~ .switch::before { /*we draw a white circle a left-top corner to show a half moon*/
    left:30%;
    top:30%;
    width:90%;
    height:90%;
    animation: 0.75s ease lol;
}

.switch-mode input:not(:checked) ~ .switch::after { /*we hide the sun outline*/
    width:0%;
    height:0%;
}

.switch-mode input:checked ~ .switch {
    animation: 1.5s ease rotate;
}

@keyframes rotate {
    to {
        transform:rotate(180deg);
    }
}

@keyframes lol {
    from {
        left:50%;
        top:50%;
        width:50%;
        height:50%;
    }
    to {
        left:30%;
        top:30%;
        width:90%;
        height:90%;
    }
}

@keyframes lol2 {
    from {
        height: 130%;
    }
    to {
        height: 0%;
    }
}