#form-contact {
    max-width: 475px;
    width: 100%;
    height: 550px;
    margin: 0px 40px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--form-bg-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

@media(max-width: 1200px) {
    #form-contact  {
        position: initial;
        margin: 0 auto;
        transform: translateY(0%);
    }
}

@media(max-width: 575px) {
    #form-contact  {
        height: 500px;
        padding: 0 10px;
        box-shadow: none;
        background-color: transparent;
    }
}

#form-contact input {
    margin-bottom: 60px;
    padding-bottom: 19px;
}

#form-contact textarea {
    height: 90px;
}

#form-contact input,#form-contact textarea {
    font-family: 'Spartan', sans-serif;
    cursor: pointer;
    color: var(--secondary);
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: transparent;
    box-shadow: 0px -1px 0px var(--form-ph-color) inset;
    transition: 0.3s;
}

#form-contact .active-input-error {
    box-shadow: 0px -1px 0px var(--form-red-error) inset;
}

#form-contact .active-input-error::placeholder {
    color: var(--form-red-error);
    opacity: 0.5;
}

#form-contact textarea {
    resize: none;
}

#form-contact input::placeholder, #form-contact textarea::placeholder {
    color: var(--form-ph-color);
}

#form-contact input:focus::placeholder, #form-contact textarea:focus::placeholder {
    color: var(--secondary);
}

#form-contact textarea:focus, #form-contact input:focus {
    outline: none;
    color: var(--secondary);
    box-shadow: 0px -3px 0px var(--secondary) inset !important;
}

#form-contact #msg-send-result {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
    font-size: 16px;
    color: var(--secondary);
    opacity: 0;
    transition: 0.3s;
}
@media(max-width: 575px) {
    #form-contact #msg-send-result {
        transform: none;
        left: 10px;
        bottom: 100px;
    }
}

#form-contact button {
    z-index: 100;
    margin-top: -5.5px; /* hack ? */ 
    align-self: flex-end;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: var(--btn-bg-color);
    width: 60px;
    height: 60px;
    transition: 0.3s;
} 
#form-contact button {
    stroke: var(--btn-color);
}

#form-contact button:focus {
    outline: none;    
} 

#form-contact button:hover {
    background-color: var(--very-secondary);
}

#form-contact > div  {
    position: relative;
}

#form-contact > div .msg-error {
    position: absolute;
    font-size: 14px;
    line-height: 18px;
    right: 0px;
    top: 3px;
    color: var(--form-red-error);
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

#form-contact > div .active-msg-error {
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--secondary) !important;
    box-shadow: 0px -1px 0px var(--form-ph-color) inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
}