.realisation-card {
    width: 320px;
    height: 500px;
    margin: 0 20px;
    background-color: var(--primary);
    border: 2px solid rgba(0, 0, 0, 0.3);
    position: relative;
    /*border-bottom: 1px solid var(--secondary);*/
    transition: 0.3s ease-in-out;
    /*overflow: hidden;
    border-radius: 5px;*/
}

.realisation-card a {
    text-decoration: none;
}

@media(max-width: 600px) {
    .realisation-card {
        margin: 0 auto;
        max-width: 320px;
        width: auto;
        min-height: 480px;
        height: auto;
        padding-bottom: 40px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .realisation-card:hover {
        box-shadow: 20px 10px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.25);
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid var(--secondary);
        transform: translate(10px, -10px) !important;
    }
}

@media (max-width: 600px) {
    .realisation-card {
        margin-bottom: 30px;
    }
}

.realisation-card-tag {
    display: flex;
    align-items: center;
    color: var(--secondary);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.realisation-card-tag:before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 15px;
    height: 1px;
    background-color: var(--secondary);
    margin-right: 10px;
}

.realisation-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.realisation-card-text {
    padding: 20px;
}

.realisation-card-text h4 {
    color: var(--very-tertiary);
    margin-bottom: 20px;
    font-weight: 600;
    transition: 0.3s;
}

.realisation-card-text p {
    font-size: 14px;
    color: var(--tertiary);
}

.realisation-card-more {
    font-size: 14px;
    color: var(--secondary);
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding: 5px;
    transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
    .realisation-card-more:hover {
        text-shadow: 0 -0.3px 0 var(--secondary), 0.3px 0 var(--secondary);
    }
    .realisation-card:hover .realisation-card-text h4 {
        color: var(--secondary);
    }
}