#wrapper-about {
    width: 1000px;
    margin: 0 auto;
}

#about-text {
    display: flex;
}

#about-text > div:first-of-type img {
    height: 400px;
}

#about-text > div:last-of-type {
    margin-left: 50px;
}

#about-text > div:last-of-type h2 {
    display: flex;
    color: #ffc979;
    font-size: 36px;
    margin-bottom: 40px;
}

#about-text > div:last-of-type h2:before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 35px;
    height: 2px;
    background-color: #ffc979;
    margin-right: 15px;
    margin-bottom: 2px; 
}

#about-text > div:last-of-type p {
    line-height: 25px;
    color: #bdc2d1;
    font-size: 15px;
    margin-bottom: 10px;
}

#about-text > div:last-of-type > span img {
    width: 150px;
}