#wrapper-about {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 120px 40px;
}

@media (max-width: 420px) {
    #wrapper-about {
        padding: 100px 25px;
    }
}

#presentation-about {
    display: flex;
    margin-bottom: 10px;
}

@media(max-width: 850px) {
    #presentation-about {
        margin-bottom: 50px;
    }
    #presentation-about-img {
        display: none;
    }
    #presentation-about-text {
        margin-left: 0px;
    }   
}

#presentation-about-img img {
    height: 300px;
}

#presentation-about-text {
    margin-left: 70px;
}

@media(max-width: 686px) {
    #presentation-about-text {
        margin-left: 0px;
    }    
}

#presentation-about-text h2 {
    display: flex;
    color: var(--gold);
    font-size: 36px;
    margin-bottom: 40px;
}

#presentation-about-text h2:before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 35px;
    height: 2px;
    background-color: var(--gold);
    margin-right: 15px;
    margin-bottom: 2px; 
}

#presentation-about-text p {
    line-height: 25px;
    color: var(--light-grey);
    font-size: 14px;
    margin-bottom: 10px;
}

#presentation-about-text img {
    width: 150px;
}

#presentation-about-text > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width: 550px) {
    #presentation-about-text > div {
        flex-direction: column-reverse;
        align-items: start;
    }  
    #presentation-about-text > div .btn {
        margin-top: 20px;
        align-self: center;
    }  
}

#skill-about {
    height: 250px;
    position: relative;
}

@media(max-width: 687px) {
    #skill-about {
        height: 300px;
    }
}

#skill-about #skill-title-v {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    color: var(--gold);
    font-size: 16px;
    letter-spacing: 1.2px;
    font-weight: 600;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

#skill-about #skill-title-v:before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 2px;
    height: 35px;
    margin-bottom: 15px;
    background-color: var(--gold);
}

#progressBars-about {
    display: flex;
    height: 100%;
    margin-left: 50px;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 10.5px;
    letter-spacing: 1.2px;
    color: var(--very-light-grey);
}

@media(max-width: 420px) {
    #skill-about #skill-title-v {
        display: none;
    }
    #progressBars-about {
        margin-left: 0;
    }    
}

#progressBars-about > div {
    margin: 0 10px;
}

#about .progressBar {
    margin-top: 15px;
    display: block;
    position: relative;
    background-color: black;
    width: 250px;
    height: 6px;
    border-radius: 10px;
}

#about .progressBar::after {
    position: absolute;
    content: "";
    background-color: var(--gold);
    width: var(--width-progressBar);
    height: 6px;
    border-radius: 10px;
}