#wrapper-about {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

#text-about {
    display: flex;
    margin-bottom: 30px;
}

#text-about > div:first-of-type img {
    height: 400px;
}

#text-about > div:last-of-type {
    margin-left: 50px;
}

#text-about > div:last-of-type h2 {
    display: flex;
    color: #ffc979;
    font-size: 36px;
    margin-bottom: 40px;
}

#text-about > div:last-of-type h2:before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 35px;
    height: 2px;
    background-color: #ffc979;
    margin-right: 15px;
    margin-bottom: 2px; 
}

#text-about > div:last-of-type p {
    line-height: 25px;
    color: #bdc2d1;
    font-size: 14px;
    margin-bottom: 10px;
}

#text-about > div:last-of-type > span img {
    width: 150px;
}

#skill-about {
    height: 250px;
}

#skill-about #skill-title-v {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 30px;
    color: #ffc979;
    font-size: 16px;
    letter-spacing: 1.2px;
    font-weight: 600;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

#skill-about #skill-title-v:before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 2px;
    height: 35px;
    margin-bottom: 15px;
    background-color: #ffc979;
}