.realisation-feature {
    display: flex;
    column-gap: 50px;
    max-width: 1000px;
    width: 100%;
    height: auto;
    background-color: var(--primary);
    padding: 50px 60px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.realisation-feature:not(:last-of-type) {
    margin-right: 50px;
}

@media (max-width: 1100px) {
    .realisation-feature:not(:last-of-type) {
        margin-bottom: 50px;
    }
}

@media(max-width: 950px) {
    .realisation-feature {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }
    .realisation-feature:not(:last-of-type) {
        margin: 0px auto 50px auto;
    }   
}

@media(max-width: 600px) {
    .realisation-feature {
        display: flex;
        background-color: transparent;
        padding: 0;
        border: none;
    }
    .realisation-feature:not(:last-of-type) {
        margin: 0px auto 100px auto;
    }    
}

.realisation-feature-img img {
    width: 325px;
    /*pointer-events: none !important;*/
}

@media(max-width: 950px) {
    .realisation-feature-img img {
        display: block;
        margin: 0 auto;
        max-width: 350px;
        width: 100%;
    }    
}

.realisation-feature-text h4 {
    margin-bottom: 30px;
    color: var(--secondary);
    display: flex;
}

.realisation-feature-text h4::before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--secondary);
    margin-right: 15px;
    margin-bottom: 2px;
}

.realisation-feature-text p {
    color: var(--tertiary);
    line-height: 25px;
    font-size: 15px;
}

.realisation-feature-text p:not(:last-of-type) {
    margin-bottom: 20px;
}

.realisation-feature-link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    color: var(--tertiary);
}

.realisation-feature-link a {
    color: var(--very-tertiary);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

.realisation-feature-link span {
    margin: 0 30px;
}

@media (hover: hover) and (pointer: fine) {
    .realisation-feature-link a:hover {
        transition: 0.3s;
        color: var(--secondary);
    }
}

.realisation-feature-link a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -6px;
    height: 1px;
    width: 0px;
    opacity: 0;
    background-color: var(--secondary);
    transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
    .realisation-feature-link a:hover:after {
        width: 100%;
        opacity: 1;
    }
}

@media(max-width: 950px) {
    .realisation-feature-link {
        justify-content: center;
        margin: 30px 0px;
    }    
}