.lightbox {
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /*pointer-events: none;*/
    z-index: 900; 
    background-color: rgba(0, 0, 0,0.75 ); 
}

.lightbox.is-active {
    transition: all 1s;
    opacity: 1;
}

.lightbox[data-display="false"] {
    display:none;
}

/*.lightbox-overlay {
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 901;
    background-color: rgba(0, 0, 0,0.75 ); 
}*/

.lightbox-wrapper {
    /*display: flex;
    flex-direction: column;
    position: relative;
    z-index: 902;*/
}

.lightbox img {
    width: 100%;
    height:100%;
    z-index: 903;
}