#contact {
    /*background: linear-gradient(rgba(255, 255, 255, 0.0) calc(50% - (100px / 2)), var(--very-primary) calc(50% - (100px / 2))), repeating-linear-gradient(90deg, var(--primary), var(--primary) calc(20vw - 1px), rgba(var(--secondary-rgb), 0.05) calc(20vw + 1px));*/
    background: linear-gradient(to top, rgba(255, 255, 255, 0.0) calc(50% + (100px / 2)), var(--very-primary) calc(50% + (100px / 2))), repeating-linear-gradient(90deg, var(--primary), var(--primary) calc(20vw - 1px), rgba(var(--secondary-rgb), 0.05) calc(20vw + 1px));
}
@media(max-width: 1200px) {
    #contact {
        background: linear-gradient(rgba(255, 255, 255, 0.0) calc(50% - (100px / 2)), var(--very-primary) calc(50% - (100px / 2))), repeating-linear-gradient(90deg, var(--primary), var(--primary) calc(20vw - 1px), rgba(var(--secondary-rgb), 0.05) calc(20vw + 1px));
    }
}
#wrapper-contact {
    max-width: 1200px;
    margin: -100px auto 0 auto;
    padding: 120px 25px;
    position: relative;
}
#form-contact {
    width: 475px;
    height: 550px;
    margin: 0px 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    background-color: var(--primary);
    box-shadow: 10px 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.25);
    /*transform: translate(10px, -10px);*/
}
#lol {
    max-width: 500px;
    /*height: 400px;*/
    position: absolute;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    left: 25px;
    margin: 0px 25px;
    transform: translateY(-50%);
}
#msg-contact {
    display: flex;
    align-items: flex-end;
    font-size: 26px;
    margin-bottom: 100px;
    height: 200px;
}
#info-contact {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    font-size: 18px;
    height: 200px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 14px;
    letter-spacing: 1.2px;
    color: var(--tertiary);
    background-color: var(--very-primary);
    /*background: repeating-linear-gradient(90deg, var(--primary), var(--primary) calc(20vw - 1px), rgba(var(--secondary-rgb), 0.05) calc(20vw + 1px));*/
}
@media(max-width: 1200px) {
    footer {
        background: repeating-linear-gradient(90deg, var(--primary), var(--primary) calc(20vw - 1px), rgba(var(--secondary-rgb), 0.11) calc(20vw + 1px));
    }
}