#wrapper-contact {
    width: 100%;
    position: relative;
}
@media(max-width: 1200px) {
    #wrapper-contact {
        padding: 120px 0;
    }
}
#wrapper-contact > div:first-of-type, #wrapper-contact > div:last-of-type {
    height: calc((100vh - 133px) / 2);
    display: flex;
}
@media(max-width: 1200px) {
    #wrapper-contact > div:first-of-type, #wrapper-contact > div:last-of-type {
        height: auto;
    }
}
#form-msg-contact {
    align-self: flex-end;
    position: relative;
    max-width: 1200px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 28px;
    line-height: 40px;
    color: var(--very-tertiary);
}
#form-msg-contact p {
    width: 500px;
}
@media(max-width: 1200px) {
    #form-msg-contact {
        width: auto;
        font-size: 24px;
        padding-bottom: 80px;
    }  
    #form-msg-contact p {
        width: 100%;
        max-width: 500px;
        text-align: center;
    } 
}
#form-msg-contact p span {
    color: var(--secondary);
}
#wrapper-contact > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: calc((100vh - 133px));
    max-width: 1200px;
    padding: 0 40px;
}
@media(max-width: 1200px) {
    #wrapper-contact > div:nth-child(2) {
        position: initial;
        transform: translateX(0);
        height: auto;
    }
}
#form-contact {
    max-width: 475px;
    width: 100%;
    height: 550px;
    margin: 0px 40px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--primary);
    box-shadow: 10px 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.25);
}
@media(max-width: 1200px) {
    #form-contact  {
        position: initial;
        margin: 0 auto;
        transform: translateY(0%);
    }
}
#info-contact {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: var(--secondary);
}
@media(max-width: 1200px) {
    #info-contact  {
        width: auto;
        padding-top: 80px;
    }   
}
#info-contact p:not(:last-of-type) {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
#info-contact p::before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--hyphen);
    margin-right: 15px;
    margin-bottom: 2px;
}
footer {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 133px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: var(--footer-color-typo);
}
@media(max-width: 1200px) {
    footer {
        height: auto;
    }
}
footer p {
    text-align: center;
}


/**********************/

/*#form-contact {
    width: 730px;
    display: flex;
    flex-direction: column;
    position: relative;
}*/

#form-contact input {
    margin-bottom: 60px;
    padding-bottom: 19px;
    background-color: transparent;
}

#form-contact textarea {
    height: 90px;
    background-color: transparent;
}

#form-contact input,#form-contact textarea {
    font-family: 'Spartan', sans-serif;
    cursor: pointer;
    font-weight: bold;
    color: var(--light-grey);
    font-size: 18px;
    /*letter-spacing: -0.312px;*/
    width: 100%;
    border: none;
    box-shadow: 0px -1px 0px var(--light-grey) inset;
    transition: 0.3s;
}

#form-contact .active-input-error {
    box-shadow: 0px -1px 0px var(--form-red-error) inset;
}

#form-contact .active-input-error::placeholder {
    color: var(--form-red-error);
    opacity: 0.5;
}

#form-contact textarea {
    resize: none;
}

#form-contact input::placeholder, #form-contact textarea::placeholder {
    color: var(--light-grey);
}

#form-contact input:focus::placeholder, #form-contact textarea:focus::placeholder {
    color: var(--secondary);
}

#form-contact textarea:focus, #form-contact input:focus {
    outline: none;
    color: var(--secondary);
    box-shadow: 0px -3px 0px var(--secondary) inset !important;
}

#form-contact #msg-send-sucess {
    position: absolute;
    left: 34.5px;
    bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #6B8E23;
    opacity: 0;
    transition: 0.3s;
}

#form-contact button {
    margin-top: -8px; /* hack ? */ 
    align-self: flex-end;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: var(--very-dark-blue);
    width: 80px;
    height: 80px;
    transition: 0.3s;
} 

#form-contact button:focus {
    outline: none;    
} 

#form-contact button:hover {
    background-color: var(--dark-grey);
}

#form-contact > div  {
    position: relative;
}

#form-contact > div .msg-error {
    /*display: none;*/
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.234px;
    right: 16px;
    top: 10px;
    color: var(--form-red-error);
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

#form-contact > div .active-msg-error {
    /*display: initial;*/
    opacity: 1;
}