#wrapper-contact {
    width: 100%;
    position: relative;
}
@media(max-width: 1200px) {
    #wrapper-contact {
        padding: 120px 0;
    }
}
@media(max-width: 600px) {
    #wrapper-contact {
        padding: 80px 0;
    }
}
#wrapper-contact > div:first-of-type, #wrapper-contact > div:last-of-type {
    height: calc((100vh - 133px) / 2);
    min-height: 350px;
    display: flex;
}
@media(max-width: 1200px) {
    #wrapper-contact > div:first-of-type, #wrapper-contact > div:last-of-type {
        height: auto;
        min-height: initial;
    }
}
#msg-contact {
    align-self: flex-end;
    position: relative;
    max-width: 1200px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 26px;
    line-height: 40px;
    color: var(--very-tertiary);
}
#msg-contact p {
    width: 500px;
}
@media(max-width: 1200px) {
    #msg-contact {
        width: auto;
        font-size: 24px;
        padding-bottom: 80px;
    }  
    #msg-contact p {
        width: 100%;
        max-width: 500px;
        text-align: center;
    } 
}
@media(max-width: 600px) {
    #msg-contact {
        padding: 0px 25px 30px 25px;
    }  
}
#msg-contact p span {
    color: var(--secondary);
}
#wrapper-contact > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: calc((100vh - 133px));
    min-height: 700px;
    max-width: 1200px;
    padding: 0 40px;
}
@media(max-width: 1200px) {
    #wrapper-contact > div:nth-child(2) {
        position: initial;
        transform: translateX(0);
        height: auto;
        min-height: initial;
    }
}
@media(max-width: 600px) {
    #wrapper-contact > div:nth-child(2) {
        padding: 0 25px;
    }
}
#info-contact {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--secondary);
}
@media(max-width: 1200px) {
    #info-contact  {
        width: auto;
        padding-top: 80px;
    }   
}
@media(max-width: 600px) {
    #info-contact  {
        padding: 10px 25px 0px 25px;
    }   
}
#info-contact p {
    z-index: 98;
    max-width: 500px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
#info-contact p::before {
    align-self: center;
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: var(--hyphen);
    margin-right: 15px;
    margin-bottom: 2px;
}
#info-contact-social {
    display: flex;
}
#info-contact-social a {
    z-index: 98;
    height: 22px;
    width: 22px;
    margin-right: 12px;
}
#info-contact-social svg {
    fill: var(--tertiary);
    transition: 0.3s;
}
#info-contact-social svg:hover {
    fill: var(--secondary)
}
footer {
    width: 100%;
    padding: 32px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 133px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color: var(--footer-color-typo);
}
@media(max-width: 1200px) {
    footer {
        height: auto;
    }
}
footer p {
    text-align: center;
}