header {
    z-index: 99;
    width: 100%;
    /*top: 0px;*/
    position: absolute;
}

#wrapper-header {
    max-width: 1980px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 60px 100px 30px 100px;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    #wrapper-header {
        padding: 60px 40px 30px 40px;
    }
}

@media (max-width: 900px) {
    #wrapper-header {
        padding: 70px 40px 20px 40px;
    }
}

#logo {
    display: flex; 
    font-size: 36px;
    font-weight: bold;
    align-items: center;
    color: var(--secondary);
    letter-spacing: 1px;
}

@media (max-width: 800px) {
    #logo {
        font-size: 32px;
    }
}

#menu-curtain {
    display: none;
}

#menuH {
    display: none;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu ul {
    list-style: none;
}

#menu li {
    margin: 0 18px;
    font-weight: 600;
    font-size: 10.5px;
    letter-spacing: 1.2px;
    display: inline; 
}

@media (max-width: 800px) {
    #menu li {
        margin: 0 15px;
    }
}

#menu li:first-of-type {
    margin-left: 0px; 
}

#menu li:last-of-type {
    margin-right: 0px; 
}

#menu a {
    padding: 5px 0;
    color: var(--tertiary);
    text-decoration: none;
    position: relative;
}

@media (hover: hover) and (pointer: fine) {
    #menu a:hover {
        transition: 0.3s;
        color: var(--secondary);
    }
}

#menu li a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    height: 1px;
    width: 0px;
    opacity: 0;
    background-color: var(--secondary);
    transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
    #menu li a:hover:after {
        width: 100%;
        opacity: 1;
    }
}

#social-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (min-width: 1600px) {
    #social-header {
        width: 190px;
    }
}

#social-header svg {
    background-color: var(--primary);
    fill: var(--tertiary);
    width: 38px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 6px;
    /*transition: 0.3s;*/
}

#social-header a:not(:last-of-type) {
    margin-right: 10px;
}

@media (hover: hover) and (pointer: fine) {
    #social-header a:hover svg {
        border: 1px solid var(--secondary);
        fill: var(--secondary);
    }
}

@media (max-width: 900px) {
    #social-header {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    #social-header svg {
        width: 32px;
        padding: 4px;
    }
    #social-header a:not(:last-of-type) {
        margin-right: 0px;
    }
}

@media (max-width: 800px) {
    #menuH {
        position: relative;
        cursor: pointer;
        width: 26px;
        height: 18px;
        align-self: center;
        display:flex;
        align-items: center;
        justify-content: flex-end;
    }
    #menuH span,
    #menuH span::after,
    #menuH span::before {
        content:"";
        width: 26px;
        height: 2px;
        background-color: var(--tertiary);
        display:block;  
    }
    #menuH span::after,
    #menuH span::before{
        position:absolute;
        transition: transform 0.3s; 
    }
    #menuH span::after {
        bottom: 0px;  
    }
    #menuH span::before {
        top: 0px;
    }
    #menuH.is-active span {
        width: 100%; /* error model ? adjust */
        background-color:transparent;
    }
    #menuH.is-active span:after {
        transform:rotate(-45deg) translateY(-7px) translateX(4px);
    }
    #menuH.is-active span:before {
        transform:rotate(45deg) translateY(7px) translateX(4px);
    }

    #menu {
        position: absolute;
        z-index: 1000;
        top: 130px;
        bottom:0;
        right:0;
        width: 0;
        height: 235px;
        transition: all 0.3s;
    }

    #menu.is-open {
        width: 100%;
    }

    #menu-curtain {
        position: absolute;
        display: initial;
        z-index: 999;
        top: 130px;
        height: 100vh;
        bottom:0;
        right:0;
        width: 0;
        transition: all 0.3s;
    }

    #menu-curtain.is-open {
        width: 100%;
        background-color: rgba(22, 25, 34, 0.9);
    }

    #menu ul {
        font-size: 18px;
        height: 235px;
        background-color: var(--primary);
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0px 46px 0px;
    }
    #menu ul li {
        margin: 0px;
    }
}
