#realisations {
    overflow: hidden !important;
}

#wrapper-realisations {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 25px 186px 25px;
}

@media(max-width: 600px) {
    #wrapper-realisations {
        padding: 80px 25px 80px 25px;
    }
}

#wrapper-realisations > h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--secondary);
    font-size: 36px;
}

#wrapper-realisations > p {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 60px auto;
    line-height: 25px;
    color: var(--tertiary);
    font-size: 14px; 
}

.flickity-viewport {
    overflow: visible !important;
    width: 100%;
}

/* position dots up a bit */
.flickity-page-dots {
    bottom: -50px;
    text-align: left;
}

/* dots are lines */
.flickity-page-dots .dot {
    height: 4px;
    width: 25px;
    border-radius: 0;
    background: var(--secondary);
}

.carousel {
    margin: 0 15px;
}

.carousel:after {
    content: 'flickity';
    display: none; /* hide :after */
  }

@media screen and ( max-width: 600px ) {
    .carousel:after {
        content: '';
    }
}