@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import './assets/styles/minireset.min.css';

body {
  font-family: 'Spartan', sans-serif;
  background-color: #191d27;
}

.bg-vr {
  background: repeating-linear-gradient(90deg, #181e28, #181e28 calc(20vw - 1px), rgba(255, 201, 121, 0.05) calc(20vw + 1px));
}

@media (max-width: 1100px) {
  .bg-vr {
      background: repeating-linear-gradient(90deg, #181e28, #181e28 calc(25vw - 1px), rgba(255, 201, 121, 0.05) calc(25vw + 1px));
  }    
}

@media (max-width: 750px) {
  .bg-vr {
      background: repeating-linear-gradient(90deg, #181e28, #181e28 calc(33.3vw - 1px), rgba(255, 201, 121, 0.05) calc(33.3vw + 1px));
  }    
}

.bg-dark {
  background-color: #151922;
}

section {
  height: 100vh;
}

/* fullpage */

#fp-nav.fp-right {
  right: 90px;
}

@media (max-width: 1100px) {
  #fp-nav.fp-right {
    right: 40px;
  }  
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #ffc979;
}

.fp-tooltip {
  top: 1px !important;
  font-family: 'Spartan', sans-serif !important;
  color: #bdc2d1 !important;
  letter-spacing: 1.2px !important;
  font-size: 11px !important;
  font-weight: 600 !important;
}