@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import './assets/styles/minireset.min.css';

/* variables */

:root {

  /* dark mode */
  --dark-blue: #181e28;
  --very-dark-blue: #151922;
  --gold: #ffc979;
  --gold-rgb: 255, 201, 121; 
  --very-gold: #d4af37;
  --light-grey: #bdc2d1;
  --very-light-grey: #ececec;
  --lynch: #697E9A;

  /* light mode */
  --selago: #ecf2fc; /* ok */
  --white: #fff; /* ok */
  --bright-grey: #3c4151;
  --bright-grey-rgb: 60, 65, 81; 
  --shark: #25272c;
  --cadet-blue: #b1b9ca;
  --slate-gray : #6e7a94;
}

.dark-mode {
  --primary: var(--dark-blue);
  --very-primary: var(--very-dark-blue);
  --secondary: var(--gold);
  --secondary-rgb: 255, 201, 121;
  --very-secondary: var(--very-gold);
  --tertiary: var(--light-grey);
  --very-tertiary: var(--very-light-grey);
  --btn-color: #333;
  --btn-bg-color: var(--gold);
  --btn-icon-mode: var(--light-grey);
  --footer-color-typo: var(--lynch);
  --hyphen: var(--gold);
  /*transition: 0.3s;*/
}

.light-mode {
  --primary: var(--selago);
  --very-primary: var(--white);
  --secondary: var(--shark);
  --secondary-rgb: 37, 39, 44;
  --very-secondary: var(--shark);
  --tertiary: var(--bright-grey);
  --very-tertiary: var(--slate-gray);
  --btn-color: #ccc;
  --btn-bg-color: var(--bright-grey);
  --btn-icon-mode: var(--shark); 
  --footer-color-typo: var(--bright-grey);
  --hyphen: var(--slate-gray);
  /*transition: 0.3s; */
}

/* regles globales */

.App {
  font-family: 'Spartan', sans-serif;
  background-color: var(--primary);
}

.bg-vr {
  background: repeating-linear-gradient(90deg, var(--primary), var(--primary) calc(20vw - 1px), rgba(var(--secondary-rgb), 0.05) calc(20vw + 1px));
}

@media (max-width: 1100px) {
  .bg-vr {
      background: repeating-linear-gradient(90deg, var(--primary), var(--primary) calc(25vw - 1px), rgba(var(--secondary-rgb), 0.05) calc(25vw + 1px));
  }    
}

@media (max-width: 750px) {
  .bg-vr {
      background: repeating-linear-gradient(90deg, var(--primary), var(--primary) calc(33.3vw - 1px), rgba(var(--secondary-rgb), 0.05) calc(33.3vw + 1px));
  }    
}

.bg-dark {
  /*transition: 0.3s;*/ 
  background-color: var(--very-primary);
}

/*section {
  min-height: 937px;
}*/

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 0 40px;
  background-color: var(--btn-bg-color);
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: var(--btn-color);
  padding-top: 3px;
  transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
      background-color: var(--very-secondary);
      filter: brightness(1.1);
  }
}

/* fullpage */

#fp-nav.fp-right {
  right: 90px !important;
}

@media (min-width: 1980px) {
  #fp-nav.fp-right {
    right: calc((100vw - (1980px - 180px)) / 2) !important;
  }
}

@media (max-width: 1300px) {
  #fp-nav.fp-right {
    right: 40px !important;
  }  
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  /*background: var(--gold) !important;*/
}

.fp-tooltip {
  top: 1px !important;
  font-family: 'Spartan', sans-serif !important;
  /*color: var(--tertiary) !important;*/
  letter-spacing: 1.2px !important;
  font-size: 11px !important;
  font-weight: 600 !important;
}