@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import './assets/styles/minireset.min.css';

/* variables */

:root {
  --gold: #ffc979;
  --gold-rgb: 255, 201, 121; 
  --very-gold: #d4af37;
  --light-grey: #bdc2d1;
  --dark-blue: #181e28;
  --very-dark-blue: #151922;
}

/* regles globales */

body {
  font-family: 'Spartan', sans-serif;
  background-color: var(--dark-blue);
}

.bg-vr {
  background: repeating-linear-gradient(90deg, var(--dark-blue), var(--dark-blue) calc(20vw - 1px), rgba(var(--gold-rgb), 0.05) calc(20vw + 1px));
}

@media (max-width: 1100px) {
  .bg-vr {
      background: repeating-linear-gradient(90deg, var(--dark-blue), var(--dark-blue) calc(25vw - 1px), rgba(var(--gold-rgb), 0.05) calc(25vw + 1px));
  }    
}

@media (max-width: 750px) {
  .bg-vr {
      background: repeating-linear-gradient(90deg, var(--dark-blue), var(--dark-blue) calc(33.3vw - 1px), rgba(var(--gold-rgb), 0.05) calc(33.3vw + 1px));
  }    
}

.bg-dark {
  background-color: var(--very-dark-blue);
}

/*section {
  min-height: 937px;
}*/

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 0 40px;
  background-color: var(--gold);
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  padding-top: 3px;
  transition: 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
      background-color: var(--very-gold);
      filter: brightness(1.1);
  }
}

/* fullpage */

#fp-nav.fp-right {
  right: 90px;
}

@media (min-width: 1980px) {
  #fp-nav.fp-right {
    right: calc((100vw - (1980px - 180px)) / 2);
  }
}

@media (max-width: 1300px) {
  #fp-nav.fp-right {
    right: 40px;
  }  
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: var(--gold);
}

.fp-tooltip {
  top: 1px !important;
  font-family: 'Spartan', sans-serif !important;
  color: var(--light-grey) !important;
  letter-spacing: 1.2px !important;
  font-size: 11px !important;
  font-weight: 600 !important;
}